h1{
    /*les titres sont en rouges et centrés*/
    color:red;
    text-align: center;
}
h2
{
    /*les sous-titres sont eux en bleu et aussi centrés,
    ils ont une bordure (border) epaisse de 1px , de couleur bleue et trait simple*/
    color:blue;
    border-width: 1px;
    border-style: solid ;
    border-color:blue;
    text-align: center;
}
body
{
    /*la couleur du fond est en gris clair : lightgrey*/
    background-color: lightgrey;
}
/* les liens ainsi que les elements en gras (b) sont en rouge 
et ont une decoration de texte en soulignée (underline)*/
a
{
    color:red;
    text-decoration: underline;
}
b
{
    color:red;
    text-decoration: underline;
}
img
{
    /* on fixe la largeur de l'image à 300px (la hauteur s'adapte automatiquement pour ne pas deformer l'image)
    on arrondit les bords avec un "rayon de 20px" (valeur arbitraire)*/
    width:300px;
    border-radius:20px;
}
p
{
    border-left: 3px solid blue;
    padding-left:5px;
    text-align: justify;
}



