h1{
    /*les titres sont en rouges et centrés*/
    color:red;
    text-align: center;
}
h2{
    /*les sous-titres sont eux en bleu et aussi centrés,
    ils ont une bordure (border) epaisse de 1px , de couleur bleue et "pleine" 
    (solid et non dashed dotted etc...)*/
    color:blue;
    border: 1px solid blue;
    text-align: center;
}
body{
    /*la couleur du fond est en gris clair : lightgrey*/
    background-color: lightgrey;
}
/* les liens ainsi que les elements en gras (b) sont en rouge 
et ont une decoration de texte en soulignée (underline)*/
a{
    color:red;
    text-decoration: underline;
}
b{
    color:red;
    text-decoration: underline;
}
img{
    /* on fixe la largeur de l'image à 300px (la hauteur s'adapte automatiquement pour ne pas deformer l'image)
    on arrondit les bords avec un "rayon de 20px" (valeur arbitraire)*/
    width:300px;
    border-radius:20px;
}
p{
    /* le texte est en justifié (comme dans word) on lui a mis uniquement 
    une bordure à gauche et on a ajouté une marge interieure (entre la bordure et le texte) pour separer la bordure bleue du texte*/
    border-left: 3px solid blue;
    padding-left:5px;
    text-align:justify; 
}



